$header-color: #01040A;
$background-color: #0D1116;
$font-color: #E6EDF3;
$small-font-color: #7C8590;
$success-color: #238636;
$warn-color: #F78166;
$error-color: #F84A44;
$clickable-text-color: #3081F7;
$button-color: #21262D;
$button-hover: #30363D;